/*Variables*/
:root {
--main-font: 'Roboto', sans-serif;
--accent-font: 'Raleway', sans-serif;
--main-text-color: #212121;
--small-text-color: #757575;
--accent-color: #2196F3;
--background-color: #FFFFFF;
--accent-background-color: #2F303A;
}
*/ {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    font-family: var(--main-font);
    color: var(--main-text-color);
    background-color: var(--background-color);
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
}

.pointer-button { cursor: pointer; }

/* HEADER STYLES */
.logo {
    color: var(--main-text-color);
    font-family: var(--accent-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
}
.logo-white {color: #FFFFFF;
    font-family: var(--accent-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
}

.logo-accent {color: var(--accent-color);}

.header {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    }
.address {color: var(--small-text-color);}
.nav-color:hover {color: var(--accent-color);}
.nav-color:focus {color: var(--accent-color);}

/*HERO Styles*/
.hero {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    background-color: var(--accent-background-color);
    }
.hero-button {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }

/*Main-messages styles*/
h3 {
    color: var(--main-text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    }
    .main-messag{
    color: var(--small-text-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    }

/*<!--Чим ми займаємося--> <!--Наша команда--> styles*/
h2 {
    color: var(--main-text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    }
.team {
    color: var(--small-text-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.188;
    }
h4 {
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    }

/*portfolio-button styles*/
.all-portfolio-button {
    color: var(--main-text-color);
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.all-portfolio-button:hover {background: var(--accent-color);
    color: #FFFFFF;}

.portfolio-button {
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    }

/*img-portfolio-button styles*/
.img-portfolio-button {
    color: var(--main-text-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    }
h5 {
    color: var(--main-text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.875;
    }

/*footer styles*/
.footer{
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    background-color: var(--accent-background-color);
    }